<main>
  <section class="landing-page">
    <h1>Welcome to Dwarf Game!</h1>
    <p>
      Dwarf Game (Working Title) is a colony management game where you take
      control of a company of dwarves and build out a thriving enterprise. You
      will need to manage your resources, build out your base, and defend
      against the dangers of the world, including other players! Dwarves are
      stronger together, so you will need to work with other players to survive
      and thrive.
    </p>

    <p>
      This game is currently in open-source development under a custom GPL-3.0
      license. If you are interested in contributing to the project through
      code, art, or design,

      <a href="https://discord.gg/gDJ6eYmeXJ" target="_blank"
        >please join our Discord by clicking here</a
      >, or
      <a href="https://github.com/ToonLunk/DwarfGame" target="_blank"
        >view the GitHub repository by clicking here!</a
      >
    </p>
  </section>
</main>
