// colors
$background-color: #121420;
$primary-color: #7a7891;
$secondary-color: #2c2b3c;
$text-color: $primary-color;

// paddings
$padding: 2rem;
$padding-half: 1rem;
$padding-double: 4rem;

// border
$border-radius: 0.2rem;
$border-thickness: 0.2rem;
$border-color: $primary-color;
$border: $border-thickness solid $border-color;
