/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
  font-family: "Roboto", sans-serif;
}

html {
  padding: 0;
  margin: 0;
}

body,
main {
  background-color: $background-color;
}

body {
  padding: 0 ($padding-double * 2);
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $secondary-color;
  }
}
